USE [master]
GO
/****** Object:  Database [Assignment_HuynhPhucDuy]    Script Date: 1/23/2021 10:48:07 PM ******/
CREATE DATABASE [Assignment_HuynhPhucDuy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assignment_HuynhPhucDuy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Assignment_HuynhPhucDuy.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Assignment_HuynhPhucDuy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Assignment_HuynhPhucDuy_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assignment_HuynhPhucDuy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assignment_HuynhPhucDuy]
GO
/****** Object:  Table [dbo].[tblCategorys]    Script Date: 1/23/2021 10:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCategorys](
	[categoryID] [varchar](10) NOT NULL,
	[categoryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblOrder]    Script Date: 1/23/2021 10:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblOrder](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [varchar](30) NULL,
	[paymentID] [varchar](10) NULL,
	[orderDate] [datetime] NOT NULL,
	[totalPrice] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblOrderDetail]    Script Date: 1/23/2021 10:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDetail](
	[detailID] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [int] NULL,
	[productID] [int] NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[detailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPayments]    Script Date: 1/23/2021 10:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblPayments](
	[paymentID] [varchar](10) NOT NULL,
	[payName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[paymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblProducts]    Script Date: 1/23/2021 10:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblProducts](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productName] [varchar](500) NOT NULL,
	[categoryID] [varchar](10) NULL,
	[description] [varchar](1000) NOT NULL,
	[imageName] [varchar](50) NOT NULL,
	[price] [float] NOT NULL,
	[createDate] [date] NOT NULL,
	[quantity] [int] NOT NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblrecordUpdate]    Script Date: 1/23/2021 10:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblrecordUpdate](
	[recordID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [varchar](30) NULL,
	[productID] [int] NULL,
	[recordDate] [datetime] NOT NULL,
	[note] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[recordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblRoles]    Script Date: 1/23/2021 10:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblRoles](
	[roleID] [varchar](10) NOT NULL,
	[roleName] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 1/23/2021 10:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUsers](
	[userID] [varchar](30) NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[password] [varchar](50) NULL,
	[roleID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tblCategorys] ([categoryID], [categoryName]) VALUES (N'CD', N'Candy')
INSERT [dbo].[tblCategorys] ([categoryID], [categoryName]) VALUES (N'DK', N'Drink')
INSERT [dbo].[tblCategorys] ([categoryID], [categoryName]) VALUES (N'FD', N'Food')
INSERT [dbo].[tblPayments] ([paymentID], [payName]) VALUES (N'COD', N'Cash on delivery')
INSERT [dbo].[tblPayments] ([paymentID], [payName]) VALUES (N'PayPal', N'Via paypal')
SET IDENTITY_INSERT [dbo].[tblProducts] ON 

INSERT [dbo].[tblProducts] ([productID], [productName], [categoryID], [description], [imageName], [price], [createDate], [quantity], [status]) VALUES (1, N'Custas', N'FD', N'The Orion Egg Cream custas is a popular sponge cake with its delicious flavor from the crust to the sweet, soft and rich egg cream made from fresh eggs.', N'1.jpg', 100000, CAST(N'2021-01-14' AS Date), 1000, 0)
INSERT [dbo].[tblProducts] ([productID], [productName], [categoryID], [description], [imageName], [price], [createDate], [quantity], [status]) VALUES (2, N'Migita ginger candy', N'CD', N'Perfectly combines the sweetness of sugar and the spicy taste of fresh ginger, creating delicious candies, especially suitable on cold days.', N'2.jpg', 10000, CAST(N'2021-01-14' AS Date), 1000, 0)
INSERT [dbo].[tblProducts] ([productID], [productName], [categoryID], [description], [imageName], [price], [createDate], [quantity], [status]) VALUES (3, N'Migita mint candy', N'CD', N'The cool mint flavor is refreshing to enjoy. The product does not contain added sugar and preservatives.', N'3.jpg', 17000, CAST(N'2021-01-14' AS Date), 1000, 0)
SET IDENTITY_INSERT [dbo].[tblProducts] OFF
INSERT [dbo].[tblRoles] ([roleID], [roleName]) VALUES (N'AD', N'Admin')
INSERT [dbo].[tblRoles] ([roleID], [roleName]) VALUES (N'US', N'User')
INSERT [dbo].[tblUsers] ([userID], [userName], [password], [roleID]) VALUES (N'109885075218526593969', N'Hu?nh Phúc Duy', NULL, N'US')
INSERT [dbo].[tblUsers] ([userID], [userName], [password], [roleID]) VALUES (N'admin', N'Administrator', N'1', N'AD')
INSERT [dbo].[tblUsers] ([userID], [userName], [password], [roleID]) VALUES (N'admin2', N'Admin2', N'123', N'AD')
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD FOREIGN KEY([paymentID])
REFERENCES [dbo].[tblPayments] ([paymentID])
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[tblUsers] ([userID])
GO
ALTER TABLE [dbo].[tblOrderDetail]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[tblOrder] ([orderID])
GO
ALTER TABLE [dbo].[tblOrderDetail]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[tblProducts] ([productID])
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[tblCategorys] ([categoryID])
GO
ALTER TABLE [dbo].[tblrecordUpdate]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[tblProducts] ([productID])
GO
ALTER TABLE [dbo].[tblrecordUpdate]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[tblUsers] ([userID])
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD FOREIGN KEY([roleID])
REFERENCES [dbo].[tblRoles] ([roleID])
GO
USE [master]
GO
